autopep8>=1.5.4
azure-identity>=1.4.0
azure-keyvault-secrets>=4.2.0
coveralls>=2.1.2
flake8>=3.8.3
munch>=2.5.0
pylint>=2.5.3
pytest>=6.0.1
pyyaml>=5.3.1
requests>=2.24.0
twine>=3.2.0
typeguard>=2.9.1
uuid>=1.30
# https://stackoverflow.com/a/44862371
wheel>=0.35.1
